name: CI (Lint) + Build & Push to GHCR

on:
  push:
    branches: [dev]
  workflow_dispatch: {}

permissions:
  contents: read
  packages: write

env:
  REGISTRY: ghcr.io

jobs:
  lint-and-typecheck:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.9"
          cache: "pip"

      - name: Install deps
        run: |
          python -m pip install --upgrade pip
          if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
          if [ -f requirements-dev.txt ]; then pip install -r requirements-dev.txt; fi
          pip install flake8 black isort

      # - name: Run flake8
      #   run: flake8 .

      - name: Run isort check
        run: isort --check-only .

      - name: Run black check
        run: black --check .
      
      - name: Who am I
        run: |
          echo "actor=${{ github.actor }}"
          echo "repo=${{ github.repository }}"
          echo "ref=${{ github.ref }}"


  build-and-push:
    runs-on: ubuntu-latest
    needs: lint-and-typecheck

    steps:
      - name: Checkout
        uses: actions/checkout@v4

#      - name: Set image name (lowercase)
#        id: img
#        run: |
#          echo "image=${{ env.REGISTRY }}/${GITHUB_REPOSITORY,,}" >> "$GITHUB_OUTPUT"

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to GHCR
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          context: .
          file: ./Dockerfile
          push: true
          tags: |
            ${{ steps.img.outputs.image }}
            ${{ steps.img.outputs.image }}:sha-${{ github.sha }}
          cache-from: type=gha
          cache-to: type=gha,mode=max
